@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


::selection {
  background-color: #212121;
  color: #fff;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}