@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


::selection {
  background-color: #212121;
  color: #fff;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Light mode styles */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode styles */
[data-theme='dark'] {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
